#liga{
    text-decoration: none;
    padding: 5px;
    background-color: #C70039;
    border-radius: 4px;
    color: #F5F6F9;
}
#liga:hover{
    background-color: #1A23F5;
}

#btn_consulta{
    text-decoration: none;
    padding: 5px;
    border-radius: 3px;
    background-color:#B8B8C1;
    color: #070708;
}

#btn_consulta:hover{
    background-color: #BBBEF6;
}

.borde{
    border: dotted;
    border-style:  black 1px;
}

.imagen{
    width: 40px;
    height: 40px;
    border-radius: 5px;
}