@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');


@font-face {
    font-family: noto;
    src: url('/assets/Noto.ttf');
}

.titulo{
    font-family: 'Viga', sans-serif;
    color: #050B8B;
}
h1,h2{
    font-family: noto;
    padding: 15px;
}
p{
    font-family: noto;
    text-align: center;
    font-size: large;
}

table{
width: 100%;
table-layout: fixed;
}
#liga{
    font-family: 'Viga',sans-serif;
    text-decoration: none;
    padding: 10px;
    background-color: #C70039;
    border-radius: 4px;
    color: #F5F6F9;
    margin: 15px;
}
#liga:hover{
    background-color: #1A23F5;
}

.btn_for{
    text-decoration: none;
    padding: 0;
    font-family: 'Hammersmith One',sans-serif;
    color: #070708;
}

#btn_consulta:hover{
    background-color: #BBBEF6;
}

.borde{
    border: dotted;
    border-style:  black 1px;
}
button{
    text-align: center;
    font-family: noto;
    margin-top: 15px;
    margin-bottom: 15px;
}
.imagen{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin: 15px;
}

.formato{
    text-align: left;
    font-family: 'Baloo Tammudu 2', sans-serif ;
}