<div class="container">
    
    <a id="liga" routerLink="/registroP" >Registrar Paciente</a>
    <a id="liga" routerLink="/registroLab" >Registrar Analisis</a>
    <br><br><br>
    <div class="row">
        <div class=" col-md-6 horizontal-scrollable text-wrap " id="DOCTORES">
            <p class="titulo">Pacientes en espera de consulta</p>
            <div *ngFor="let elemento of doctores">
                <p class="formato">{{elemento.nombreD}}</p> 
            </div>
        </div>
        <div class=" col-md-6 horizontal-scrollable text-wrap " id="Pacientes">
            <p class="titulo">Pacientes en espera de formulario</p>
            <table *ngFor="let elemento of pacientes">
                <tr> 
                <td colspan="2" class="formato">{{elemento.nombreP}} <b> ID: {{elemento.idPaciente}}</b></td>  
                <td><button class="btn_for btn btn-info"  routerLink="/consulta">Formulario</button></td>
                </tr>
        </table>
               
        </div>
    </div>
        <div>
            
            <router-outlet></router-outlet>
        </div>
    

</div>
