@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

@font-face {
    font-family: noto;
    src: url('/assets/Noto.ttf');
}
.titulo{
    font-family: noto;
}
.imagen{
    width: 40px;
    height: 40px;
    border-radius: 5px;
}
h1{
    font-family: noto;
    text-align: center;
    padding: 15px;
}
label{
    font-family: noto;
    color: #050B8B;
    margin: 10px;
}
input{
    font-family: noto;
}
button{
    text-align: center;
    font-family: noto;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #C70039;
    border-color: #C70039;
}


