<!-- <script src="conexion.js"></script> -->
<h1>Registro de Médicos</h1>
<div class="container">
    <form action="" method="POST">
        <div class="form-group">
            <label class="label" for="nombre">Nombre</label>
            <input name="nombre" id="nombre" type="text" placeholder="Nombre" class="form-control">
            <label class="label" for="usuario" >Usuario</label>
            <input type="text" name="usuario" placeholder="Nombre de usuario" class="form-control" id="usuario">
            <label class="label" for="correo">E-mail</label>
            <input type="email" name="correo" id="correo" placeholder="E-mail" class="form-control">
            <label class="label" for="contrasena">Contraseña</label>
            <input type="password" placeholder="Contraseña" id="psw" class='form-control'>
            <label class="label" for="contrasena">Confirmar Contraseña</label>
            <input type="password" placeholder="Contraseña" name="contrasena" id="contrasena" class='form-control'>
            <input type="hidden" name="disponibilidad" value="1">
        </div>
        <button type="submit" class="btn btn-primary">Registrarse</button>
    </form>
</div>


