@font-face {
    font-family: noto;
    src: url('/assets/Noto.ttf');
}
a{
    font-family: noto;
    font-size:medium;
}
footer {
  font-family: noto;
  font-size: medium;
  text-align: center;
  height: 200px;
  padding: 3px;
  background-color: rgb(0,0,55);
  color: white;
}