<div class="container">
    <h1>Salud Al Alcance De Todos</h1>
    <h2>¿Quienes somos?</h2>
    <p>
        Somos una organización que ayuda a la realización de consultas medicas por medio 
        de video conferencias en México. 
    </p>
    <br>
    <p>
        <img class="img-fluid" src="/assets/inicio1.png" alt="">
    </p>
    <h2>Noticias</h2>
        <div class="container horizontal-scrollable" id="noticias">
            <div class="row">
                <div id="noticia" class="col-lg-3 col-xs-12 text-wrap">
                    Fechas vacunación covid-19:
                    <ul>
                        <li>De Abril a Mayo del 2021 de 50 a 59 años</li>
                        <li>De Mayo a Junio del 2021 de 40 a 49 años</li>
                        <li>De Junio de 2021 a Marzo del 2022 el resto de la población</li>
                    </ul>
                    #QuédateEnCasa
                </div>
                <div id="noticia" class="col-lg-3 col-xs-12 text-wrap">
                    
                </div>
                <div id="noticia" class="col-lg-3 col-xs-12 text-wrap">

                </div>
                <div id="noticia" class="col-lg-3 col-xs-12 text-wrap">

                </div>
                <div id="noticia" class="col-lg-3 col-xs-12 text-wrap">

                </div>
                <div id="noticia" class="col-lg-3 col-xs-12 text-wrap">

                </div>
                <br>
            </div>
        
    </div>
    <h2>Estadísticas</h2>
</div>

