<div class="container">
    <h1 class="titulo">Registro de Personal</h1>
        <form action="http://127.0.0.1:8081/registrarPersonal" method="POST">
            <div class="form-group">
                <label class="fuente label" for="nombre" >Nombre</label>
                <input name="nombre" id="nombre" [(ngModel)]="nombre" type="text" placeholder="Nombre" class="form-control">
                <label class="fuente label" for="usuario" >Usuario</label>
                <input name="usuario" id="usuario" [(ngModel)]="usuario" type="text" placeholder="usuario" class="form-control">
                <label class="fuente label" for="contra" >contraseña</label>
                <input name="contra" id="contra" [(ngModel)]="contrasena" type="password" placeholder="contraseña" class="form-control">
                <label class="fuente correo" for="correo" >Correo</label>
                <input name="correo" id="correo" [(ngModel)]="correo" type="email" placeholder="correo electronico" class="form-control">
                <label class="fuente label" for="tipo" >Tipo (Enfermera "E"/ Personal "P")</label>
                <input name="tipo" id="tipo" [(ngModel)]="tipo" type="text" placeholder="tipo" class="form-control">
                
            </div>
            <button type="submit" class="btn btn-primary" (click)="crearReg()">Registrarse</button>
        </form>
    </div>
